@charset "UTF-8";

* {
  font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "AppleSDGothic", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 992px;
  }
}

.item img {
  width: 100%;
}
