@import url('http://fonts.googleapis.com/css?family=Maven+Pro|Open+Sans');
@import url('http://api.typolink.co.kr/css?family=RixSGo+L:400');
* {
  color: #CFCFCF; }

body {
  margin-top: 70px; }

a, a:visited {
  color: #19BDCF; }

a:hover, a:focus {
  color: #276C8B;
  text-decoration: blink; }

body {
  background-color: #262626; }

p {
  word-break: break-all; }

.yellow {
  color: #f2f45f; }

.hidden-scroll {
  opacity: 0; }

.visible-scroll {
  opacity: 1; }

.fb-like {
  display: block;
  float: right;
  margin-top: 20px;
  margin-right: 20px; }

th, td {
  border-color: #484848 !important; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  width: 30px;
  height: 30px; }

nav {
  -moz-animation-name: drop-header;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 0.3s;
  -webkit-animation-name: drop-header;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.3s;
  animation-name: drop-header;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s; }
  nav * {
    font-family: "Open Sans", "RixSGo L", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "AppleSDGothic", sans-serif !important; }
  nav .navbar-brand img {
    height: 20px; }

.container section:nth-child(n+2) {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  background-color: #333;
  border-radius: 3px;
  padding: 9px 23px; }
.container .post-content ul {
  list-style-type: none;
  padding-left: 25px; }

.description, .description *, #subtitle, #subtitle * {
  font-size: 18px;
  font-family: "Open Sans", "RixSGo L", "Lora", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "AppleSDGothic", sans-serif; }

#content ul li:before {
  content: "–";
  position: absolute;
  margin-left: -1.1em; }

.name {
  display: inline-block;
  font-family: "Open Sans", "Maven Pro", "RixSGo L", "맑은 고딕", "Malgun Gothic", sans-serif;
  font-size: 60px;
  color: #8b8b8b;
  margin-top: 5px; }

.icon {
  width: 130px;
  float: right;
  position: absolute;
  z-index: 1; }

.description {
  margin-left: 10px; }

@media screen and (min-width: 768px) {
  .description {
    margin-right: 200px; }
 }

section {
  overflow: auto;
  position: relative; }

[id^="section-"] .icon {
  right: 22px;
  bottom: 20px; }

#section-about .descrition {
  margin-top: 16px; }

#section-game .description {
  margin-top: 16px; }

#section-logo {
  height: 768px; }
  #section-logo #logo {
    padding-top: 150px; }

@media screen and (max-width: 767px) {
  #section-logo {
    height: 500px; }
    #section-logo #logo {
      padding-top: 75px; }
 }

#section-logo #logo #subtitle {
  padding-top: 60px;
  padding-right: 3%;
  padding-left: 25%;
  font-size: 19px;
  float: right; }

#footer {
  font-family: "Open Sans", "RixSGo L", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "AppleSDGothic", sans-serif;
  width: 100%;
  min-height: 60px;
  background-color: #2b2b2b; }
  #footer .text-muted {
    margin: 20px 0; }

@-moz-keyframes drop-header {
  0% {
    -moz-transform: translateY(-50px); }

  100% {
    -moz-transform: translateY(0); } }

@-webkit-keyframes drop-header {
  0% {
    -webkit-transform: translateY(-50px); }

  100% {
    -webkit-transform: translateY(0); } }

@keyframes drop-header {
  0% {
    transform: translateY(-50px); }

  100% {
    transform: translateY(0); } }

@media screen and (min-width: 767px) {
  .modal .modal-dialog {
    width: 90%; }
 }

.modal .modal-body {
  overflow-y: auto;
  max-width: 900px;
  margin: 0 auto; }
  .modal .modal-body * {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 15px; }
.modal .modal-title {
  font-family: "Open Sans", "Maven Pro", "RixSGo L", "맑은 고딕", "Malgun Gothic", sans-serif; }
.modal .modal-content {
  background-color: #262626; }
  .modal .modal-content .center {
    text-align: center;
    display: block; }
  .modal .modal-content td:first-child {
    width: 150px; }
  .modal .modal-content * {
    color: #CFCFCF;
    font-family: "Open Sans", "RixSGo L", "Lora", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "AppleSDGothic", sans-serif; }
  .modal .modal-content ol {
    padding-left: 30px; }
  .modal .modal-content img {
    margin-top: 10px;
    margin-bottom: 10px;
    background: initial; }
    .modal .modal-content img.img-thumbnail {
      border-color: #6a6a6a; }
.modal .modal-header {
  border-bottom-color: #444; }
.modal .description-title {
  font-family: "Open Sans", "Maven Pro", "RixSGo L", "맑은 고딕", "Malgun Gothic", sans-serif;
  font-size: 60px;
  color: #888;
  margin-top: 5px;
  margin-bottom: 30px; }
.modal .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
.modal .embed-container iframe, .modal .embed-container object, .modal .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.modal #loading {
  width: 50px;
  height: 50px;
  border: 3px solid rgba(100, 100, 100, 0.3);
  margin: 50px auto;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */